[package]
name = "arcana-core"
version = "0.1.0-dev"
edition = "2018"
resolver = "2"
description = "Core abstractions and implementations of `arcana` crate."
authors = [
    "Ilya Solovyiov <ilya.solovyiov@gmail.com>",
    "Kai Ren <tyranron@gmail.com>"
]
documentation = "https://docs.rs/arcana-core"
homepage = "https://github.com/arcana-rs/arcana/tree/master/core"
repository = "https://github.com/arcana-rs/arcana"
readme = "README.md"

[features]
es = []

[dependencies]
derive_more = { version = "0.99", features = ["deref", "deref_mut", "display", "into"], default-features = false }
futures = "0.3"
pin-project = "1.0"
ref-cast = "1.0"
